<div class="row topPage" style="padding:0;">
  <%= image_tag 'TopPage.jpg',class:'img-responsive'%>
  <div class="msgBox">
    <p class="title">
      お気に入りを写真に撮ってシェアしてみよう！
    </p>
    <div class="
      col-xs-offset-1 col-xs-10
      col-md-offset-4 col-md-8
      ">
    <p class="content">
      <%= quote_collections() %>
    </p>

    <p class="buttom">
      <% if user_signed_in? %>
      <%=link_to '写真一覧へ',pictures_path, class:"btn btn-default btn-xl btn-success " %>
      <% else %>
        <%=link_to 'ログインはこちら',user_session_path, class:"btn btn-default btn-xl btn-success " %>
        <%=link_to '新規登録する',new_user_registration_path, class:"btn btn-default btn-xl btn-success " %>
      <% end %>
    </p>
    </div>
  </div>
</div>
