<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@picture, remote: true) do |f| %>
      <% if @picture.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
          <ul>
          <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">New/Editing product</h4>
      </div>
      <div class="modal-body">


        <div class="field">
          <% if @picture.image? %>
            <div class="thumbnail">
            <%= image_tag @picture.image.url %>
          </div>
          <% else %>
            <input type="file" id="upload1" name="images[]" multiple="multiple" />

          <% end %><br>
        <p id="preview1"></p>
          <%= f.label :image %><br>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="field">
          <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
          <% if @picture.persisted? && @picture.image? %>
            <label>
            <%= f.check_box :remove_image %>
            画像を削除
            </label>
          <% end %>
        </div>


      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Save", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
