<section class="menu_on">
  <%if notice.present? %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1>写真一覧</h1>
<article>
  <div class="row" style="margin:auto">
    <% @pictures.each do |picture| %>
    <div class="col-xs-12 col-sm-6 col-md-4 frame">
      <div class="show_link">
        <%= link_to picture,remote:true do %>
          <div class="set_Picture img01 waku02 bImg shadow bWidth">
            <%= users_picture(picture) %>

          </div>
         <% end %>
      </div>
    <div class="index_contents">
      <div class="avatar col-xs-2" style="padding:0;margin-right:10px;">
        <%= users_avatar(picture.user) %>
      </div>
        <div class="name col-xs-9">
          <span class="name"><%= users_name(picture.user) %></span>
          <span class="uid">@<%=picture.user.uid%></span>
        </div>
        <p class="title col-xs-8"><%= picture.title %></p>
    </div>
    <!-- 画像下にEditとDESTROYボタン(投稿者のみ)-->
    <% if current_user.id == picture.user_id %>
    <div class="index_btn">
      <span class=""><%= link_to '編集', edit_picture_path(picture), remote: true, class: "btn btn-warning" %></span>
      <span class=""><%= link_to '削除', picture, method: :delete,class:"btn btn-danger", data: { confirm: 'Are you sure?' } %></span>
    </div>
    <% end %>
  </div>
  <% end %>
  </div>
</article>

<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</section>
