<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="product-index">
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.name %></td>
        <td>
          <% if picture.image? %>
            <div class="thumbnail">
            <%= image_tag picture.image.url %>
          </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', picture , remote: true, class: "btn btn-lg btn-primary"%></td>
        <td><%= link_to 'Edit', edit_picture_path(picture), remote: true, class: "btn btn-lg btn-primary" %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= link_to 'New Picture', new_picture_path , remote: true, class: "btn btn-lg btn-primary"%>
