<%if notice.present? %>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>

<h1>Listing Pictures</h1>

<div style=" padding:0px 40px;">
<div class="row">

<% @pictures.each do |picture| %>
<div class="col-xs-12
            col-sm-6
            col-md-4 " style="height:400px;">
 <!-- 枠の中身を更にグリッドで切る-->
  <div class="row">
    <div class="img01 waku02 bImg shadow bWidth">
    <%= image_tag picture.image.url %>
    </div>

    <div class="">
    </div>
  </div>

    </div>
  <% end %>

</div>
</div>
  <tbody class="product-index">
    <% @pictures.each do |picture| %>
      <tr>
        <td>
          <div class="col-xs-3">
            <%= image_tag picture.user.avatar, :class => "setIcon" %>
            <p><%= picture.user.name  %></p>
          </div>
        </td>
        <td>
          <% if picture.image? %>
            <div class="thumbnail">
            <%= image_tag picture.image.url %>
          </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', picture , remote: true, class: "btn btn-lg btn-primary"%></td>
        <td><%= link_to 'Edit', edit_picture_path(picture), remote: true, class: "btn btn-lg btn-primary" %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
